PORT=5000
NODE_ENV=development
JWT_SECRET=super-secret-jwt-key-secure-exam-2026-sha256-kms-key
JWT_EXPIRES_IN=8h

# PostgreSQL Connection Config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=secure_exam_db
DB_USER=postgres
DB_PASSWORD=postgres

# GCP Config (Configured for Cloud Run / GCS deployment)
GCP_PROJECT_ID=secure-exam-gcp-project
GCS_BUCKET_NAME=secure-question-papers-private-bucket
GCP_KMS_KEY_NAME=projects/secure-exam-gcp-project/locations/global/keyRings/exam-keyring/cryptoKeys/paper-encryption-key
